# PoC güvenli varsayılanlar
BOT_TENANT_ID=esmark-test
BOT_DISPLAY_NAME=ESMARK Asistan
BOT_DB_PATH=./data/poc.sqlite
BOT_AUTH_DIR=./data/auth/esmark-test
BOT_WHITELIST_PHONES=905551112233,905559998877
BOT_AUTO_REPLY=true
